 <x-form-input className="col-lg-6" type="text" name="roof_type" label="Roof Type" placeholder="Enter the roof type" />
                              <x-form-input className="col-lg-6" type="text" name="soil_type" label="Soil Type" placeholder="Enter the soil type" />
                              <x-form-input className="col-lg-6" type="text" name="topography" label="Topography" placeholder="Enter the topography" />
                              <x-form-input className="col-lg-6" type="text" name="access" label="Access" placeholder="Enter the properties access" />
          

                              

                              

                             
                              <x-form-multiple-select name="features" label="Properties Features">
                                   <option value="backup_generator">Backup Generator</option>
                                   <option value="bbq_area">BBQ Area</option>
                                   <option value="cinema_room">Cinema Room</option>
                                   <option value="filtration">Filtration</option>
                                   <option value="gazebo">Gazebo</option>
                                   <option value="private_gym">Private Gym</option>
                                   <option value="rooftop">Rooftop</option>
                                   <option value="terrace">Terrace</option>
                                   <option value="water_storage">Water Storage</option>
                              </x-form-multiple-select>

                              

                              

                              
                              
                              

                              <x-form-select className="col-lg-6" name="on_site_service" label="On-site Service"></x-form-select>

                              <div class="col-lg-6 mb-3" id="group_on_site_service_type">
                                   <label for="" class="form-label mb-2">On-site Service Type</label>

                                   <div class="btn-group d-flex justify-content-start align-items-center" role="group" aria-label="Basic checkbox toggle button group">

                                        <div class="me-2">
                                             <input class="form-check-input me-1" type="checkbox" value="maintenace" name="maintenace" id="maintenace">
                                             <label class="form-check-label" for="maintenace">Maintenace</label>
                                        </div>

                                        <div class="me-2">
                                             <input class="form-check-input me-1" type="checkbox" value="reception" name="reception" id="reception">
                                             <label class="form-check-label" for="reception">Reception</label>
                                        </div>

                                        <div class="me-2">
                                             <input class="form-check-input me-1" type="checkbox" value="security" name="security" id="security">
                                             <label class="form-check-label" for="security">Security</label>
                                        </div>
                                   </div>
                              </div>

                              
                              

                              
                              <x-form-select className="col-lg-6" name="shared_facilities" label="Shared Facilities">
                                   <option value="">No</option>
                                   <option value="pool">Pool</option>
                              </x-form-select>